In [1]:
for temp in range (1,11) :
    print ("2 X",temp,"=",temp*2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [2]:
for temp in range (1,11) :
    print (f"2 x {temp} = {temp*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [10]:
number = int(input ("Please enter your number :"))

for temp in range (1,11) :

    print (f"{number} X {temp} = {temp*number} ")

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [ ]:
for temp in range (2,6):
    print(f"table of {temp}")
    for temp_2 in range(1,11):
        print (f"{temp} X {temp_2} = {temp*temp_2}")

In [23]:
list = ['CAT', 'DOG', 'BANANA', 'APPLE']

In [24]:
list[2].upper()

'BANANA'

In [25]:
list_upper = [list[0].upper(),list[1].upper(),list[2].upper(),list[3].upper()]

In [26]:
list_upper

['CAT', 'DOG', 'BANANA', 'APPLE']

In [27]:
list_lower = []
for temp in list :
    list_lower.append(temp.lower())

In [28]:
list_lower

['cat', 'dog', 'banana', 'apple']

In [29]:
list_title = []
for temp in list :
    list_title.append(temp.title())

In [30]:
list_title

['Cat', 'Dog', 'Banana', 'Apple']

In [ ]:
table_start = int (input ("Want to print table from:"))
table_end = int (input ("Want to print table till:"))
table_length = int (input ("How many time you want to print:"))

for temp in range (table_start,table_end) :
    
for temp in range (table_start,table_end):
    print(f"table of {temp}")
    for temp_2 in range(table_length+1):
        print (f"{temp} X {temp_2} = {temp*temp_2}")

In [33]:
name = input ("please enter your name:")
father_name = input("please enter your father name:")
roll_no = input ("please enter your roll no")


print (f'**********************SMIT****************************')
print (f"NAME : {name}")
print (f"FATHER NAME : {father_name}")
print (f"ROLL NO : {roll_no}")

**********************SMIT****************************
NAME : Ammad
FATHER NAME : Mohsin
ROLL NO : 45632

In [36]:
name = input ("please enter your name:")
father_name = input("please enter your father name:")
roll_no = input ("please enter your roll no")


print (f'**********************SMIT****************************')
print ("NAME : {0} {1}".format (name,father_name))
print ("FATHER NAME : {0}".format(father_name))
print ("ROLL NO : {0}".format(roll_no))

**********************SMIT****************************
NAME : Ammad Mohsin
FATHER NAME : Mohsin
ROLL NO : 3452

\n for next line , 
\ for line continuation