In [1]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver"]

In [2]:
countries = cities + ["Los Angeles", "Seattle"]

In [3]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [4]:
larger_countries_list = countries + ["New York"]

In [8]:
larger_countries_list

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

ANOTHER WAY OF ENTERING VALUE IN A LIST :

APPEND :

In [6]:
countries.append('new york')

In [7]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'new york']

INSERT :

In [9]:
countries.insert(0,'Pakistan')

In [10]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'new york']

In [12]:
countries.insert(3,'China')

In [13]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'China',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'new york']

In [14]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [15]:
larger_countries_list

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

SLICING :

In [18]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [19]:
slicedlist = cities [:]

In [20]:
slicedlist

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [21]:
slicedlist = cities [2:3]

In [22]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [25]:
slicedlist

['Chicago']

In [26]:
slicedlist = cities [:3]

In [27]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [28]:
slicedlist

['Atlanta', 'Baltimore', 'Chicago']

DIFFERNET DATA IN A LIST :

In [ ]:
bio_data = ['qasim', 'hassan', 18, 40.75, True, 42761-2765344-2]

DELETING AND REMOVING ELEMENTS :
del / remove :

In [32]:
bio_data = ['qasim', 'hassan', 18, 40.75, True, 42761-2765344-2]

In [33]:
del bio_data [0 : 3]

In [34]:
bio_data

[40.75, True, -2722585]

In [35]:
bio_data = ['qasim', 'hassan', 18, 40.75, True, 42761-2765344-2]

In [36]:
del bio_data [2]

In [37]:
bio_data

['qasim', 'hassan', 40.75, True, -2722585]

In [38]:
bio_data.remove ('hassan')

In [39]:
bio_data

['qasim', 40.75, True, -2722585]

POPPING ELEMENTS :

In [40]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [47]:
task_completed = tasks.pop()

In [48]:
task_completed

'meet with Zach'

In [51]:
tasks

[]

In [52]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [53]:
task_completed = []

In [54]:
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [55]:
task_completed

[]

In [58]:
task_completed.insert(0 , tasks.pop (0))

In [59]:
task_completed

['email Frank', 'meet with Zach']

In [60]:
task_completed

['email Frank', 'meet with Zach']

In [62]:
task_completed.remove('email Frank')

In [63]:
task_completed

['meet with Zach']

TUPLES :
differnece between tuples and list is round bracket / square bracket

In [72]:
cities = ("Atlanta", "Baltimore", "Chicago", "Denver", "Chicago")

In [73]:
cities.count('Chicago')

2

In [74]:
cities.index ('Denver')

3

FOR LOOP :

In [80]:
cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]

In [83]:
if 'Tucson' == cities[0]:
 print("It's one of the cleanest cities")
 
elif 'Tucson' == cities[1]:
 print("It's one of the cleanest cities")
 
elif 'Tucson' == cities[2]:
 print("It's one of the cleanest cities")
 
elif 'Tucson' == cities[3]:
 print("It's one of the cleanest cities")
 
elif 'Tucson' == cities[4]:
 print("It's one of the cleanest cities")

It's one of the cleanest cities

In [87]:
for i in range(10) :
    print (i)

0
1
2
3
4
5
6
7
8
9

In [90]:
for i in range (10,15):
    print (i)

10
11
12
13
14

In [95]:
for i in range (10, 20, 2) :
    print (i)

10
12
14
16
18

In [96]:
cities

['Cheyenne', 'Santa Fe', 'Tucson', 'Great Falls', 'Honolulu']

In [97]:
cities = ['Cheyenne', 'Santa Fe', 'Tucson', 'Great Falls', 'Honolulu']

In [105]:
for Tucson in cities :
    if Tucson == cities :
        print ('Tucson is available')